<app-sidebar></app-sidebar>

<section class="page-container">
    <div class="page-content-wrapper">
        <!--Header Fixed-->
        <div class="header fixed-header">
            <div class="container-fluid" style="padding: 10px 25px">
                <div class="row">
                    <div class="col-9 col-md-6 d-lg-none">
                        <a id="toggle-navigation" href="javascript:void(0);" class="icon-btn mr-3"><i
                                class="fa fa-bars"></i></a>
                        <span class="logo">WOW - Admin</span>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                            <li class="breadcrumb-item active">Regular</li>
                        </ol>
                    </div>
                    <div class="col-3 col-md-6 col-lg-4">
                        <a href="javascript:void(0);" class="btn btn-primary btn-round pull-right d-none d-md-block">Buy
                            Theme Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content sm-gutter">
            <div class="container-fluid padding-25 sm-padding-10">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4>Table Examples</h4>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="block table-block mb-4">
                            <div class="block-heading">
                                <h5>Table Striped</h5>
                                <p class="mt-2">You can add class <span
                                        class="badge badge-outline-primary">.table-striped</span> and <span
                                        class="badge badge-outline-primary">.table</span> to a table element to get
                                    striped table:</p>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>Orders</th>
                                            <th>Status</th>
                                            <th class="text-right">Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>John Mayers</td>
                                            <td>12</td>
                                            <td class="status pending">Pending</td>
                                            <td class="price text-right">$354</td>
                                        </tr>
                                        <tr>
                                            <td>Kelly Brans</td>
                                            <td>45</td>
                                            <td class="status success">Success</td>
                                            <td class="price text-right">$94</td>
                                        </tr>
                                        <tr>
                                            <td>Tim Howard</td>
                                            <td>112</td>
                                            <td class="status success">Success</td>
                                            <td class="price text-right">$156</td>
                                        </tr>
                                        <tr>
                                            <td>Joe Trulli</td>
                                            <td>1,256</td>
                                            <td class="status pending">Pending</td>
                                            <td class="price text-right">$1,120</td>
                                        </tr>
                                        <tr>
                                            <td>Fred Kolton</td>
                                            <td>74</td>
                                            <td class="status danger">Over Due</td>
                                            <td class="price text-right">$74</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

</section>