<header class="header-section">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex header-area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand">
                        <img src="assets/images/logo.png" class="logo" alt="logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="javascript:void(0)" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" routerLink="/client/home">Home</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="javascript:void(0)" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" routerLink="/client/about">About Us</a>

                            </li>
                            <div class="dropdown ">
                                <li class="nav-item dropdown main-navbar">
                                    <a class="nav-link dropdown-toggle" routerLink="/client/coaching">Coaching<i
                                            class="icofont-simple-down"></i></a>
                                </li>


                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="nav-item dropdown main-navbar" routerLink="/client/coaching">
                                        <a class="nav-link">
                                            <i class="icofont-ui-user"></i> Coaching
                                            List</a>
                                    </li>
                                    <div class="dropdown-divider "></div>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/client/coaches">
                                            <i class="icofont-logout"></i>
                                            Coaches List
                                        </a>
                                    </li>
                                </div>
                            </div>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="javascript:void(0)" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" routerLink="/client/becomecoach"
                                    *ngIf="role=='Coach';else becomecoach">Add Game Coaching</a>
                                <ng-template #becomecoach>Become Coach</ng-template>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="/client/contact">Contact </a>
                            </li>
                        </ul>

                        <div *ngIf="token"
                            class="right-area header-action d-flex align-items-center max-un img-profile ">

                            <div class="dropdown ">
                                <a class="nav-link text-primary dropdown-toggle"> <img
                                        src="https://w1.pngwing.com/pngs/386/684/png-transparent-face-icon-user-icon-design-user-profile-share-icon-avatar-black-and-white-silhouette-thumbnail.png"
                                        class=" rounded-circle" width="40px">{{User.firstName}} {{User.lastName}}<i
                                        class="icofont-simple-down"></i></a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="icofont-ui-user"></i> Profile</a>
                                    </li>
                                    <div class="dropdown-divider "></div>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="Logout()">
                                            <i class="icofont-logout"></i>
                                            Deconnexion
                                        </a>
                                    </li>
                                </div>
                            </div>

                        </div>

                        <div class="right-area header-action d-flex align-items-center max-un" *ngIf="token==null">
                            <a routerLink="/client/login" class="login">Login</a>
                            <a routerLink="/client/register" class="cmn-btn">Sign Up
                                <i class="icon-d-right-arrow-2"></i>
                            </a>

                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>