<app-navbar></app-navbar>


<!-- Banner Section start -->
<section class="banner-section inner-banner loyalty-banner coach">
    <div class="overlay">
        <div class="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10">
                        <div class="main-content">
                            <h2>Become a coach</h2>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Become a coach</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section end -->

<!-- Become a coach start -->
<section class="become-coach">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-text text-center">
                        <h5 class="sub-title">Become a coach</h5>
                        <h2 class="title">Earn money as an Game coach</h2>
                        <p>Use your skills to help gamers improve and earn money easily.</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-lg-4 col-md-6">
                    <div class="single-area">
                        <div class="icon-area">
                            <img src="assets/images/icon/coach-icon-1.png" alt="icon">
                        </div>
                        <h5>Earn Money</h5>
                        <p>Get a chance to earn good income</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-area">
                        <div class="icon-area">
                            <img src="assets/images/icon/coach-icon-2.png" alt="icon">
                        </div>
                        <h5>Flexible Work Hours</h5>
                        <p>Work according your schedule</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-area">
                        <div class="icon-area">
                            <img src="assets/images/icon/coach-icon-3.png" alt="icon">
                        </div>
                        <h5>Get paid fast</h5>
                        <p>Egamlio pays out weekly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Become a coach end -->

<!-- How it works start -->
<section class="how-works become-coach">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Start Making Money </h5>
                        <h2 class="title">Selling in 3 steps.</h2>
                        <p>Use your skills to help gamers improve and earn money easily.</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <div class="thumb">
                            <img src="assets/images/icon/how-works-icon-4.png" alt="icon">
                            <span class="xlr">01</span>
                        </div>
                        <div class="text-area">
                            <h5>Create your account</h5>
                            <p>Apply to coach and get approved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-item mid text-center">
                        <div class="thumb">
                            <img src="assets/images/icon/how-works-icon-5.png" alt="icon">
                            <span class="xlr">02</span>
                        </div>
                        <div class="text-area">
                            <h5>Start your coach lessons</h5>
                            <p>Accept students and earn money</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <div class="thumb">
                            <img src="assets/images/icon/how-works-icon-6.png" alt="icon">
                            <span class="xlr">03</span>
                        </div>
                        <div class="text-area">
                            <h5>Get paid</h5>
                            <p>Get paid every week.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-120 justify-content-center">
                <div class="col-lg-8">
                    <div class="magnific-area position-relative d-flex align-items-center justify-content-around">
                        <div class="bg-area">
                            <img class="bg-item" src="assets/images/how-works-popup.png" alt="image">
                        </div>
                        <a class="mfp-iframe popupvideo position-absolute"
                            href="https://www.youtube.com/watch?v=Djz8Nc0Qxwk">
                            <img src="assets/images/icon/popup-icon.png" alt="icon">
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 text-center mt-40">
                    <a href="coaches-details.html" class="cmn-btn">Apply to Coach</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it works end -->

<!-- FAQs In start -->
<section class="faqs-section">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header text-center">
                        <h5 class="sub-title">You have a Questions</h5>
                        <h2 class="title">We have answers</h2>
                        <p>If you haven’t found your answer to your questions, Contact Us</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar justify-content-center">
                <div class="col-lg-8">
                    <div class="accordion" id="accordionFaqs">
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftOne" aria-expanded="false"
                                    aria-controls="collapseLeftOne">
                                    Who can offer or sell services on the Marketplace?
                                </button>
                            </h6>
                            <div id="collapseLeftOne" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftOne" data-bs-parent="#accordionFaqs">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio
                                        tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus
                                        dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftTwo" aria-expanded="false"
                                    aria-controls="collapseLeftTwo">
                                    How do I choose a good price for my Coach?
                                </button>
                            </h6>
                            <div id="collapseLeftTwo" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftTwo" data-bs-parent="#accordionFaqs">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio
                                        tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus
                                        dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftThree" aria-expanded="false"
                                    aria-controls="collapseLeftThree">
                                    How do I get paid?
                                </button>
                            </h6>
                            <div id="collapseLeftThree" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftThree" data-bs-parent="#accordionFaqs">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio
                                        tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus
                                        dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftFour" aria-expanded="false"
                                    aria-controls="collapseLeftFour">
                                    How much can I earn on Egamlio?
                                </button>
                            </h6>
                            <div id="collapseLeftFour" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftFour" data-bs-parent="#accordionFaqs">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio
                                        tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus
                                        dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs In end -->



<app-footer></app-footer>