.banner-section.coaching .banner-content {
    padding: 93px 0 308px;
}

textarea {
    border: 1px solid #3c418f;
    background-color: #282d4f;
    font-size: 16px;

}

.mb-2 {
    margin-left: 165px;
}